<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>controllers.FrontController</servlet-class>
        <init-param>
            <param-name>catalogue</param-name>
            <param-value>controllers.DefaultController</param-value>
        </init-param>
        <init-param>
            <param-name>show</param-name>
            <param-value>controllers.DefaultController</param-value>
        </init-param>
        <init-param>
            <param-name>orders</param-name>
            <param-value>controllers.OrdersController</param-value>
        </init-param>
        <init-param>
            <param-name>cart-header</param-name>
            <param-value>controllers.CartController</param-value>
        </init-param>
        <init-param>
            <param-name>data</param-name>
            <param-value>controllers.DataController</param-value>
        </init-param>
        <init-param>
            <param-name>navigation</param-name>
            <param-value>controllers.NavigationController</param-value>
        </init-param>
        <init-param>
            <param-name>themes</param-name>
            <param-value>controllers.ThemesController</param-value>
        </init-param>
        <init-param>
            <param-name>login</param-name>
            <param-value>controllers.DefaultController</param-value>
        </init-param>
        <init-param>
            <param-name>search</param-name>
            <param-value>controllers.SearchController</param-value>
        </init-param>
        <init-param>
            <param-name>catalogue-display</param-name>
            <param-value>controllers.CatalogueDisplayController</param-value>
        </init-param>
        <init-param>
            <param-name>show-display</param-name>
            <param-value>controllers.ShowDisplayController</param-value>
        </init-param>
        <init-param>
            <param-name>showing-display</param-name>
            <param-value>controllers.ShowingDisplayController</param-value>
        </init-param>
        <init-param>
            <param-name>cart-display</param-name>
            <param-value>controllers.CartDisplayController</param-value>
        </init-param>
        <init-param>
            <param-name>client</param-name>
            <param-value>controllers.ClientController</param-value>
        </init-param>
        <init-param>
            <param-name>signup</param-name>
            <param-value>controllers.DefaultController</param-value>
        </init-param>
        <init-param>
            <param-name>query</param-name>
            <param-value>controllers.QueryController</param-value>
        </init-param>
        <init-param>
            <param-name>cart</param-name>
            <param-value>controllers.DefaultController</param-value>
        </init-param>
        <init-param>
            <param-name>cart-operations</param-name>
            <param-value>controllers.CartOperationsController</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <ejb-local-ref>
        <ejb-ref-name>TestData</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.testdata.TestDataLocal</local>
        <ejb-link>Billetterie-ejb.jar#TestData</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SpectacleGestion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.SpectacleGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#SpectacleGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ClientGestion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.ClientGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#ClientGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ClientGestion1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.ClientGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#ClientGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ClientGestion2</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.ClientGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#ClientGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>QueryGestion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.QueryGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#QueryGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>clientGestion1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.ClientGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#ClientGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>ClientGestion3</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.ClientGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#ClientGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>clientGestion11</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.ClientGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#ClientGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>clientGestion12</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.ClientGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#ClientGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>PanierGestion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.PanierGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#PanierGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SeanceGestion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.SeanceGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#SeanceGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CategorieGestion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.CategorieGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#CategorieGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>SeanceGestion1</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.SeanceGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#SeanceGestion</ejb-link>
    </ejb-local-ref>
    <ejb-local-ref>
        <ejb-ref-name>CommandeGestion</ejb-ref-name>
        <ejb-ref-type>Session</ejb-ref-type>
        <local>service.CommandeGestionLocal</local>
        <ejb-link>Billetterie-ejb.jar#CommandeGestion</ejb-link>
    </ejb-local-ref>
</web-app>
